.right_title
{
	font-size: 23px;
	font-weight: bold;
	color: #333333;
	padding-left: 200px;
}
.new_address
{
	width: 600px;
	padding-left: 0px;
	padding-right: 0px;

}
.new_address>p
{
	color: red;
	margin-top: 20px;
	margin-left: 50px;
}
.new_address>div
{
	margin-top: 20px;
	margin-left: 100px;
}
.new_address>div>input
{
	width: 470px;
	height: 34px;
	line-height: 40px;
	margin-right: 20px;
	padding-left: 10px;
}
.new_address>input
{
	width: 80px;
	height: 30px;
	margin-left: 100px;
	margin-top: 30px;
	background-color: #41b5e7;
	color: #fff;
	font-size: 14px;
}
.address_table
{
	font-size: 12px;
	padding:6px;
	background: #ebecf0;
	color: #333;
	font-weight: 400;
	text-align: center;
	border:1px solid #dcdee3;
}
.address_table1>td
{
	font-size: 12px;
	padding:5px 15px;
	color: #333;
	font-weight: 400;
	border:1px solid #dcdee3;
	height: 60px;
}
.t_default
{
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	border-radius: 3px;
	border:1px solid #ff5000;
	background: #ffd6cc;
	color: #f30;
}